bin/*.dll
bin/*.exe
bin/*.pdb
bin/
obj/
build*/
*.make
*.cbp
*.bak
*.psd
extern/
TPs/SYCL-ray-tracing-vs-windows/x64
TPs/SYCL-ray-tracing-vs-windows/.vs
TPs/SYCL-ray-tracingCPU-vs-windows/.vs
TPs/SYCL-ray-tracingCPU-vs-windows/x64
TPs/SYCL-ray-tracing-vs-windows/annotations.advidb2
TPs/SYCL-ray-tracing-vs-windows/SYCL-ray-tracing-vs-windows.advixeproj
TPs/SYCL-ray-tracing-vs-windows/config/
e000/

*.workspace

Makefile
CMakeLists.txt.user

shader_kit0*.png
orbiter.txt
premake5.exe

app_orbiter.txt
irradiance_map_pink*.png
irradiance_maps_cache/
bistro-small-export
bistro-big
TPs/SYCL-ray-tracing/data/OBJs/Projects/*
TPs/SYCL-ray-tracing/data/Skyspheres/evening_road_01_puresky_8k.hdr
TPs/SYCL-ray-tracing/oidn/bin/*
TPs/SYCL-ray-tracing/oidn/doc/*
TPs/SYCL-ray-tracing/oidn/lib/*

*.hdr
TP_RT_output.png
#Heavy HDR files. git add -f if you really want to
