bin/*.dll
bin/*.exe
bin/*.pdb
bin/
obj/
build*/
*.make
*.cbp
*.bak
extern/

*.workspace

Makefile
CMakeLists.txt.user

shader_kit0*.png
orbiter.txt
premake5.exe

app_orbiter.txt
irradiance_map_pink*.png
irradiance_maps_cache/
bistro-small-export
bistro-big

*.hdr
#Heavy HDR files. git add -f if you really want to
